@import
  '../../styles/settings/settings',
  '../../styles/tools/tools';

.c-notification {
  position: relative;
}

.c-notification__toast {
  position: fixed;
  min-width: 20rem;
  width: auto;
  max-width: 400px;
  height: auto;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);
  padding: 0.7rem 1rem;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  text-align: center;
  color: get-color('white');
  background-color: get-color('primary');
  box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.22);

  &.is-visible {
    visibility: visible;
    opacity: 1;
    bottom: 3rem;
  }

  &.has-warn { background-color: get-color('warning'); }
  &.has-error { background-color: get-color('error'); }
}
