@import
  '../../styles/settings/settings',
  '../../styles/tools/tools';

.c-dashboard {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 100vw;
  @include respond-to('lap') {
    grid-template-columns: 250px 1fr;
  }
}

.c-dashboard__panel {
  min-width: 100%;
  height: auto;
  padding: 0.5rem;
  @include respond-to('lap') {
    min-height: 100vh;
  }
}

.c-dashboard__main {
  min-height: 100vh;
  padding: 2rem 0.5rem;
  @include respond-to('lap') {
    padding: 0.5rem 1rem;
    //padding-left: calc(25% + 2rem);
  }
}

/**
  * NAVIGATION LINKS
  */

.c-dashboard-navigation__content {
  // Position section content next to section title
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  // Hide section content on small screens
  opacity: 0;
  visibility: hidden;
  padding-left: 1.5rem;
  transition: all 0.3s;
  @include respond-to('lap') {
    // Position section content below section title
    position: static;
    top: auto;
    right: auto;
  }

  .o-nav-section-item {
    margin-bottom: 0.5rem;
    font-size: calc-em(14px);
    transition: color 0.3s;
    cursor: pointer;
    // Hide all section items on small screens
    display: none;
    opacity: 0;
    visibility: hidden;
    @include respond-to('lap') {
      // Show section items on larger screens
      display: inherit;
      visibility: visible;
      opacity: 1;
    }

    &.is-active {
      // Show active section item
      display: inherit;
      visibility: visible;
      opacity: 1;

      /* stylelint-disable-next-line */
      &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 4px;
        background-color: get-color('primary');
        vertical-align: middle;
        top: -2px;
        left: -15px;
        position: relative;
        border-radius: 2px;
      }
    }
  }
}





/**
  * NAVIGATION SECTIONS
  */

.c-dashboard-navigation__section {
  position: relative;
  width: 100%;
  margin: 0.5rem 0;
  // Hide all sections in small screens
  display: none;
  opacity: 0;
  visibility: hidden;
  @include respond-to('lap') {
    // Show all sections on larger displays
    display: inherit;
    visibility: visible;
    opacity: 1;
  }

  .o-nav-section-title {
    display: block;
    font-size: calc-em(14px);
    color: get-color('lighter-black');
    font-weight: $font-weight-semi-bold;
    margin-bottom: 0.5rem;
    transition: color 0.3s;
    cursor: pointer;

    &:hover { color: get-color('black'); }
  }

  &.is-toggled .c-dashboard-navigation__content {
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  &.is-active {
    // Show section if active
    display: inherit;
    visibility: visible;
    opacity: 1;

    .o-nav-section-title {
      // Accent section if active
      color: get-color('primary');
    }

    .c-dashboard-navigation__content {
      height: auto;
      opacity: 1;
      visibility: visible;
    }

    &:not(.is-toggled) .c-dashboard-navigation__content {
      @include respond-to('lap') {
        height: 0;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}





/**
  * NAVIGATION WIDGET
  */

.c-dashboard-navigation {
  background-color: get-color('white');
  border-radius: 4px;
  padding: 0.5rem 1rem;
  @include respond-to('lap') { padding: 1rem 2rem; }

  &.is-open {
    padding: 1rem 2rem;

    /* stylelint-disable-next-line */
    .c-dashboard-navigation__content {
      // Position section content below title
      position: static;
      top: auto;
      right: auto;
    }

    .c-dashboard-navigation__section {
      // Show all sections on larger displays
      display: inherit;
      visibility: visible;
      opacity: 1;

      &.is-active:not(.is-toggled) .c-dashboard-navigation__content {
        height: 0;
        opacity: 0;
        visibility: hidden;
      }

      /* stylelint-disable-next-line */
      &.is-toggled .c-dashboard-navigation__content .o-nav-section-item {
        display: inherit;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.c-dashboard-navigation__list {
  width: 100%;
  height: auto;

  li { list-style-type: none; }
}


.c-dashboard-navigation__toggler {
  display: block;
  margin: 0 auto;
  border: 0;
  color: get-color('primary');
  @include respond-to('lap') {
    display: none;
  }
}

.c-dashboard-navigation__action-btn {
  position: relative;
  left: -1.5rem;
  border: 0;
  font-weight: $font-weight-semi-bold;
  margin-top: 0.5rem;
}

.c-cart-widget {
  background-color: get-color('white');
  border-radius: 4px;
  padding: 1rem 0.5rem;
  margin-top: 1rem;
  text-align: center;

  .c-cart-widget__total {
    font-size: calc-em(20px);
    margin-top: 0.5rem;
  }

  .c-cart-widget__quantity {
    font-size: calc-em(12px);
  }
}
