@import
  '../../../styles/settings/settings',
  '../../../styles/tools/tools';

.c-promotion {
  width: 90%;
  max-width: 200px;
  padding: 1.5rem 1rem;
  margin: 0 auto;
  border: 2px solid get-color('grey');
  border-radius: 1rem;
  font-size: calc-em(12px);
  cursor: pointer;

  &.is-active {
    border-color: get-color('primary');
  }
}
