@import
  '../../styles/settings/settings',
  '../../styles/tools/tools';

.c-login {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 100% 0;
  grid-template-rows: 100%;
  padding: 1rem;
  @include respond-to('lap') {
    grid-template-columns: 33% 1fr;
  }
}

.c-login__panel {
  background-color: get-color('white');
  border-radius: 4px;
  overflow: hidden;
  overflow-y: scroll;

  .c-panel-header,
  .c-panel-body,
  .c-panel-form {
    width: 100%;
    padding: 2rem 1.5rem;
  }

  .c-panel-header {
    background-color: get-color('grey');
  }

  .c-panel-form {
    width: 90%;
    margin: 0 auto;
    padding-top: 0;
    @include respond-to('lap') {
      padding-top: 2rem;
    }
  }
}

.c-login__overlay {
  opacity: 0;
  visibility: hidden;
  padding-left: 4rem;
  padding-bottom: 4rem;
  color: get-color('white');
  @include respond-to('lap') {
    visibility: visible;
    opacity: 1;
  }
}
