@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import
  '../../fendy-framework/settings/colors',
  '../../fendy-framework/settings/fonts',
  '../../fendy-framework/settings/variables';

$color-scheme: (
  'true-black': #000000,
  'darker-black': rgba(0, 0, 0, 0.87),
  'regular-black': rgba(0, 0, 0, 0.54),
  'lighter-black': rgba(0, 0, 0, 0.38),
  'true-white': #FFFFFF,
  'regular-white': rgba(255, 255, 255, 0.7),
  'lighter-white': rgba(255, 255, 255, 0.5),
  'blue': #0069FF,
  'green': #4FD474,
  'red': #FB5660,
  'yellow': #FFBD2F,
  'pink': #FC5185,
  'grey': #ECECEC //rgb(244, 245, 248) //DFE3E7
);

$color-brand-scheme: (
  'black': map-get($color-scheme, 'true-black'),
  'white': map-get($color-scheme, 'true-white'),
  'grey': map-get($color-scheme, 'grey'),
  'primary': map-get($color-scheme, 'pink'),
  'success': map-get($color-scheme, 'pink'),
  'warning': map-get($color-scheme, 'yellow'),
  'error': map-get($color-scheme, 'red')
);

$hover-darkening-amount: 4%;
$hover-lighten-amount: 2%;

$font-open-sans: 'Open Sans', sans-serif;

$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-families: (
  'default': $font-open-sans,
  'system': $font-system-stack,
);

$typography-sizes: (
  't4': 26px,
  't3': 20px,
  't2': 18px,
  't1': 16px,
  's1': 14px,
  's2': 12px
);
