.o-app-background {
  width: 100%;
  height: 100%;
  background: url('cover.jpg') 50% 50% no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.53);
}

.o-app-subtitle {
  font-style: italic;
  font-size: calc-em(14px);
}

.o-primary-action {
  display: block;
  border: 0;
  min-width: inherit;
  width: 2rem;
  height: 2rem;
  background-color: get-color('primary');
  border-radius: 50%;
  padding: 0.5rem;
  color: get-color('white');
  transition: background-color 0.3s;
  &:hover { background-color: get-hover-color(get-color('primary')); }
}

.o-big-number {
  font-weight: 700;
  font-size: 1rem;
}
