.o-icon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.o-icon--small {
  @extend .o-icon;
  width: 1rem;
  height: 1rem;
}

.o-icon-chevron-down {
  @extend .o-icon;
  background-image: url('./assets/icon-chevron-down.svg');
}

.o-icon-chevron-down--small {
  @extend .o-icon--small;
  background-image: url('./assets/icon-chevron-down.svg');
}

.o-icon-chevron-up {
  @extend .o-icon;
  background-image: url('./assets/icon-chevron-up.svg');
}

.o-icon-chevron-up--small {
  @extend .o-icon--small;
  background-image: url('./assets/icon-chevron-up.svg');
}

.o-icon-cart {
  @extend .o-icon;
  background-image: url('./assets/icon-cart.svg');
}

.o-icon-cart--small {
  @extend .o-icon--small;
  background-image: url('./assets/icon-cart.svg');
}

.o-icon-tick {
  @extend .o-icon;
  background-image: url('./assets/icon-tick.svg');
}

.o-icon-tick--small {
  @extend .o-icon--small;
  background-image: url('./assets/icon-tick.svg');
}

.o-icon-trash {
  @extend .o-icon;
  background-image: url('./assets/icon-trash.svg');
}

.o-icon-trash--small {
  @extend .o-icon--small;
  background-image: url('./assets/icon-trash.svg');
}

.o-icon-clock {
  @extend .o-icon;
  background-image: url('./assets/icon-clock.svg');
}

.o-icon-clock--small {
  @extend .o-icon--small;
  background-image: url('./assets/icon-clock.svg');
}

.o-icon-phone {
  @extend .o-icon;
  background-image: url('./assets/icon-phone.svg');
}

.o-icon-phone--small {
  @extend .o-icon--small;
  background-image: url('./assets/icon-phone.svg');
}

.o-icon-link {
  @extend .o-icon;
  background-image: url('./assets/icon-link.svg');
}

.o-icon-link--small {
  @extend .o-icon--small;
  background-image: url('./assets/icon-link.svg');
}
