.c-catalogue-list {
  width: 100%;
  min-height: 100%;
}

.c-catalogue-list__header {
  position: relative;
  background-color: get-color('white');
  border-radius: 0.5rem;
  padding: 2rem;
  padding-bottom: 1em;
  border-top: 0.5rem solid get-color('primary');
  box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.c-catalogue-list__filters {
  width: 100%;
  padding-top: 1rem;

  .o-filter {
    border: 0;
    color: get-color('pink');
    font-size: calc-em(14px);
    font-weight: $font-weight-semi-bold;
  }
}

.o-catalogue-description {
  font-size: cal-em(14px);
  color: get-color('lighter-black');
}

.c-catalogue-list__form {
  position: relative;
  width: 98%;
  margin: 0 auto;
  top: -4rem;
  background-color: get-color('white');
  border-radius: 0.5rem;
  padding: 1rem;
  padding-top: 5.5rem;
  @include respond-to('lap') {
    padding: 2rem;
    padding-top: 5.5rem;
  }
}

.c-catalogue-list__body {
  width: 100%;
  text-align: center;
  padding-top: 1.5rem;
}

.c-catalogue-list__spinner {
  margin: 0 auto;
}

.c-item {
  min-width: 200px;
  background-color: get-color('white');
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  font-size: calc-em(12px);
  margin: 0.5rem;

  .c-item__photo {
    display: block;
    min-width: 48px;
    width: 3rem;
    min-height: 48px;
    height: 3rem;
    background-color: get-color('grey');
    object-fit: cover;
    border-radius: 50%;
  }

  .o-item-name {
    text-align: left;
    margin-bottom: 5px;
  }
}
