/**
 * DEFAULT FORM COMPONENT
 */

.c-form {
  width: 100%;
  height: 100%;
  font-family: $font-open-sans;
}

.c-input-field {
  width: 100%;
  margin: 1rem 0;

  .c-input-field__label {
    display: block;
    font-weight: $font-weight-semi-bold;
    font-size: calc-em(14px);
    margin-bottom: 0.5rem;
    color: get-color('lighter-black');
  }

  .c-input-field__field {
    width: 100%;
    border: 0;
    background-color: get-color('grey');
    padding: 0.6rem;
    border-radius: 4px;
    font-size: calc-em(18px);
    transition: all 0.3s;

    &:hover,
    &:focus {
      background-color: get-hover-color(get-color('grey'));
    }

    &.is-disabled,
    [disabled='true'] {
      color: get-color('lighter-black');
      background-color: get-hover-color(get-color('grey'), false);
      &:hover { background-color: get-hover-color(get-color('grey'), false); }
    }
  }
}

.c-buttons-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.6rem;

  .c-buttons-field__button {
    min-width: 7rem;
    border: 0;
    padding: 0.5rem;
    background-color: get-color('grey');
    border-radius: 4px;
    transition: all 0.3s;

    &:hover,
    &:focus {
      background-color: get-hover-color(get-color('grey'));
    }
  }

  .c-buttons-field__button--primary {
    @extend .c-buttons-field__button;
    color: get-color('white');
    background-color: get-color('primary');

    &:hover,
    &:focus {
      background-color: get-hover-color(get-color('primary'));
    }
  }
}

.c-buttons-field--single {
  @extend .c-buttons-field;
  justify-content: center;
}

/**
 * CATALOGUE FORMS
 *
 * Unlike default forms, input fields should be smaller in order to fit
 * more information in.
 */

.c-catalogue-form {
  @extend .c-form;

  .c-catalogue-form__section {
    margin: 2rem auto;

    .o-section-title {
      color: get-color('black');

      &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: get-color('grey');
        vertical-align: middle;
      }
    }

    .o-input-field {
      margin: 0.5rem auto;
    }
  }
}

.c-input-field--small {
  @extend .c-input-field;
  margin: 0.5rem 1rem;

  /* stylelint-disable-next-line */
  .c-input-field__field {
    font-size: calc-em(14px);
  }
}

.c-checkbox-field {
  width: 100%;

  .o-checkbox {
    width: 1.4rem;
    height: 1.4rem;
    position: relative;
    visibility: hidden;
    vertical-align: sub;

    /*
     This is the box
    */
    &::before {
      content: '';
      transition: all 0.3s;
      visibility: visible;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: get-color('grey');
    }

    /*
     This is the check in pure css
    */
    &::after {
      content: '';
      transition: all 0.3s;
      position: absolute;
      top: 48%;
      left: 25%;
      visibility: visible;
      display: block;
      width: 30%;
      height: 60%;
      border: solid rgba(0, 0, 0, 0.53);
      border-width: 0 0.15rem 0.15rem 0;
      transform: rotate(45deg) translate(-50%, -50%);
    }

    &.is-checked {
      &::before { background-color: get-color('primary'); }
      &::after { border-color: get-color('white'); }
    }
  }

  label {
    font-size: calc-em(14px);
  }
}


.c-control {
  width: 100%;
}

.c-dynamic-list {
  margin-top: 1rem;
  border-top: 1px solid get-color('grey');

  .c-dynamic-list__item {
    padding: 0.5rem;
    border-bottom: 1px solid get-color('grey');

    .o-dynamic-item-title {
      font-size: calc-em(14px);
      font-weight: 600;
    }
  }
}
