.c-number-stat {
  padding: 2rem 1rem;

  .c-number-stat__number {
    font-size: calc-em(32px);
    position: relative;
    color: get-color('primary');
    margin-bottom: 2rem;
  }

  .c-number-stat__name {
    text-align: center;
  }
}
