@import
  '../../../styles/settings/settings',
  '../../../styles/tools/tools';

.c-file-field {
  position: relative;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}

.c-file-field__preview {
  display: block;
  width: 100%;
  height: 100%;
  background-color: get-color('grey');
  border-radius: 50%;
  object-fit: cover;
}

.c-file-field__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
